<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSAnimationSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8E82F251C639A3600EB5E18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8E82F3E1C639A3600EB5E18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8E82F491C639A3600EB5E18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
